{{ define "about" }}
{{ template "header"}}

        <header class="py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-8">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">
                                Il nostro obiettivo è semplificare il contatto tra aziende e studenti universitari.
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- About section one-->
        <section class="py-5 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/img/team.svg" alt="..." />
                    </div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Progettato dagli studenti per gli studenti</h2>
                        <p class="lead fw-normal text-muted mb-0">
                            Il progetto nasce ed è sviluppato da <i>UNICT Community Devs</i>, un gruppo di studenti
                            no-profit
                            del Dipartimento di Matematica e Informatica dell'Università di Catania che si propone di
                            fornire
                            servizi per migliorare la vita universitaria.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About section two-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last">
                        <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/img/github.svg" width="400"
                            alt="..." />
                    </div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Free &amp; Open Source</h2>
                        <p class="lead fw-normal text-muted mb-0">
                            Il progetto è completamente Free &amp; Open Source:
                            <br>
                            chiunque può contribuire per migliorare il progetto.
                        </p>
                            <a style="text-decoration: none;" href="https://github.com/UNICT-DMI/open-job-dmi" target="__blank">
                                <button class="button btn btn-outline-dark">
                                    <i class="bi-github me-1"></i>
                                    Repo GitHub
                                </button>
                            </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team members section-->
        <section class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="fw-bolder">Il nostro team</h2>
                    <p class="lead fw-normal text-muted mb-5">Gli sviluppatori del progetto</p>
                </div>
                <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5 mb-5 mb-xl-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4" src="/static/img/davide-carnemolla.jpg"
                                alt="..." />
                            <h5 class="fw-bolder">Davide Carnemolla (Herbrant)</h5>
                        </div>
                    </div>
                    <div class="col mb-5 mb-5 mb-xl-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4" src="/static/img/drendog.jpg" alt="..." />
                            <h5 class="fw-bolder">Graziano Di Grande (drendog)</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{{ template "footer" }}
</body>
</html>
{{ end }}
