<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Open Job</title>
    <!-- Favicon-->
    <link rel="icon" type="image/svg+xml" href="/static/img/briefcase.svg" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/startbootstrap-modern-business@5.0.4/dist/css/styles.min.css"
        rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="d-flex navbar-brand align-middle" href="/"><i class="bi bi-briefcase p-2"></i><div class="py-2">Open Job DMI UniCT</div></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Frequently Asked Questions</h1>
                    <p class="lead fw-normal text-muted mb-0">Come possiamo aiutarvi?</p>
                </div>
                <div class="row gx-5">
                    <div class="col-xl-8">
                        <h2 class="fw-bolder mb-3">Funzionamento</h2>
                        <div class="accordion mb-5" id="accordionExample">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headerhowitworks">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#howitworks" aria-expanded="false" aria-controls="howitworks">
                                        <b>Come funziona Open Job DMI?</b>
                                    </button>
                                </h3>
                                <div class="accordion-collapse collapse" id="howitworks" aria-labelledby="headerhowitworks"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Open Job DMI permette a chiunque di inviare proposte mirate a sviluppatori ed esperti del mondo IT
                                        del Dipartimento di Matematica e Informatica dell'Università di Catania (studenti, laureandi e neolaureati).
                                        <br>
                                        Le richieste inviate attraverso Open Job DMI vengono inoltrate automaticamente agli amministratori della piattaforma,
                                        che, dopo un'attenta analisi, decideranno se approvarle. Nel caso in cui una richiesta venga approvata,
                                        questa verrà pubblicata sul canale Telegram <a class="text-decoration-none" href="https://t.me/OpenJobDMI">Open Job DMI UNICT</a>.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headerhowtocreate">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#howtocreate" aria-expanded="false" aria-controls="howtocreate">
                                        <b>Come posso creare la mia proposta?</b>
                                    </button>
                                </h3>
                                <div class="accordion-collapse collapse" id="howtocreate"
                                    aria-labelledby="headerhowtocreate" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Puoi creare la tua offerta compilando i campi richiesti nel form presente in
                                        homepage.
                                        <br>
                                        Quando sei sicuro di aver compilato i campi della tua offerta in modo opportuno,
                                        premi "Invia".
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headerverification-state">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#verification-state" aria-expanded="false"
                                        aria-controls="verification-state">
                                        <b>Come posso verificare lo stato della mia
                                            richiesta?</b>
                                    </button>
                                </h3>
                                <div class="accordion-collapse collapse" id="verification-state"
                                    aria-labelledby="headerverification-state" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Al momento non è possibile verificare lo stato della tua richiesta. L'unico modo per prendere visione
                                        di una eventuale approvazione della tua richiesta è unirsi al canale Telegram
                                        <a class="text-decoration-none" href="https://t.me/OpenJobDMI">Open Job DMI UNICT</a>.
                                        <br>
                                        Se la tua richiesta non viene approvata entro 5 giorni, puoi chiedere eventuali spiegazioni tramite i nostri
                                        contatti (<a class="text-decoration-none" href="https://t.me/Herbrant">Telegram</a>, <a class="text-decoration-none" href="mailto:cdavide98carnemolla@gmail.com">Email</a>) 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Accordion 2-->
                        <h2 class="fw-bolder mb-3">Segnalazioni e Contributi</h2>
                        <div class="accordion mb-5" id="accordionExample">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headerreportissue">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#reportissue" aria-expanded="false" aria-controls="reportissue">
                                        <b>Come posso segnalare un problema tecnico?</b>
                                    </button>
                                </h3>
                                <div class="accordion-collapse collapse" id="reportissue" aria-labelledby="headerreportissue"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Per qualsiasi problema tecnico, contattate uno degli sviluppatori e provvederanno a trovare
                                        una soluzione. Se invece sei un utente esperto, puoi creare una issue o una pull request su 
                                        <a class="text-decoration-none" href="https://github.com/UNICT-DMI/open-job-dmi">GitHub</a>.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headercontributions">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#contributions" aria-expanded="false" aria-controls="contributions">
                                        <b>Come posso contribuire al progetto?</b>
                                    </button>
                                </h3>
                                <div class="accordion-collapse collapse" id="contributions"
                                    aria-labelledby="headercontributions" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Puoi contribuire al progetto innanzitutto utilizzandolo e invitando i tuoi contatti
                                        a unirsi al nostro canale Telegram. Se sei uno sviluppatore, puoi contribuire attivamente
                                        al progetto per introdurre nuove funzionalità e migliorarlo.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card border-0 bg-light mt-xl-5">
                            <div class="card-body p-4 py-lg-5">
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="text-center">
                                        <div class="h6 fw-bolder">Hai altre domande?</div>
                                        <p class="text-muted mb-4">
                                            Contattaci
                                            <br>
                                            <a class="fs-5 px-2 link-dark" href="https://t.me/Herbrant"><i class="bi-telegram"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="mailto:cdavide98carnemolla@gmail.com">
                                                <i class="bi-envelope-fill"></i>
                                            </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright &copy; Open Job DMI UniCT 2021</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/static/js/scripts.js"></script>
</body>

</html>