{{ define "index" }}
{{ template "header" }}
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Open Job DMI UniCT</h1>
                                <p class="lead fw-normal text-white-50 mb-4">
                                    Sei in cerca di sviluppatori ed esperti del mondo IT? <br>
                                    Invia la tua proposta e raggiungi studenti, laureandi e neolaureati del Dipartimento di Matematica e Informatica dell'Università degli Studi di Catania.<br>
                                    Se la tua proposta è conforme ai nostri standard verrà pubblicata istantaneamente sul canale Telegram <a style="text-decoration: none;" href="https://t.me/OpenJobDMI">Open&nbspJob&nbspDMI&nbspUNICT</a>
                                
                                </p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4" href="/faq">FAQ</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="/about">About</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="/static/img/resume.svg" alt="..." /></div>
                    </div>
                </div>
            </header>
            
			<section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                            <div class="feature bg-primary text-white rounded-3 mb-3"><i class="bi bi-telegram"></i></div>
                            <h1 class="fw-bolder">Crea la tua offerta di lavoro</h1>
                            <p class="lead fw-normal text-muted mb-0">Se la tua offerta è conforme alle nostre regole verrà approvata il prima possibile.</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="azienda" type="text" placeholder="Enter your name..."/>
                                        <label for="name">Nome Azienda</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="email" type="email" placeholder="name@example.com"/>
                                        <label for="email">Email</label>
                                        <div class="d-none" id="email-error"><div class="text-danger mb-3">Indirizzo email non valido.</div></div>
                                    </div>
									<div class="form-floating mb-3">
                                        <input class="form-control" id="ruolo" type="text" placeholder="ruolo"/>
                                        <label for="ruolo">Ruolo</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" id="descrizione" type="text" placeholder="Enter your message here..." style="height: 10rem"></textarea>
                                        <label for="descrizione">Descrizione</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" id="competenze" type="text" placeholder="Enter your message here..." style="height: 10rem"></textarea>
                                        <label for="competenze">Competenze Richieste</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" id="benefits" type="text" placeholder="Enter your message here..." style="height: 10rem"></textarea>
                                        <label for="benefits">Benefits (opzionale)</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <div class="row">
                                            <div class="col-sm-3"><b>Disponibilità</b>:</div>
                                            <div class="col-sm-6">
                                                <div class="col-sm"><input id="full-time" type="checkbox"/> <label for="full-time">Full-time</label></div>
                                                <div class="col-sm"><input id="part-time" type="checkbox"/> <label for="part-time">Part-time</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-none" id="submit-error"><div class="text-center text-danger mb-3">Errore durante l'invio della richiesta.</div></div>
                                    <div class="d-none" id="submit-success"><div class="text-center text-success mb-3">Richiesta inviata correttamente.</div></div>
                                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="submit" type="submit" disabled>Invia</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Contact cards-->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-chat-dots"></i></div>
                                <div class="h5 mb-2">Contattaci</div>
                                <p class="text-muted mb-0">Contatta uno degli sviluppatori, trovi i nostri contatti su <a style="text-decoration: none;" href="/about">About</a></p>
                            </div>
                            <div class="col-sm">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-question-circle"></i></div>
                                <div class="h5">FAQ</div>
                                <p class="text-muted mb-0">Leggi le nostre FAQ per trovare le risposte alle domande più comuni</p>
                            </div>
                            <div class="col-sm">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-github"></i></div>
                                <div class="h5">Contribuisci</div>
                                <p class="text-muted mb-0">Contribuisci al nostro progetto, il codice è open source e lo trovi su <a style="text-decoration: none;" href="">Github</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>
{{ template "footer" }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>
<script src="/static/js/scripts.js"></script>
</body>
</html>
{{ end }}